// bower:scss
@import "bower_components/normalize-scss/_normalize.scss";
@import "bower_components/susy/sass/_susy.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "default/_variables.scss";

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

@import "default/_grids.scss";
@import "default/_1-html-background.scss";
@import "default/_2-html-fontawesome.scss";
@import "default/_3-html-navigationbar.scss";
@import "default/_test-1.scss";
@import "default/_5-html-latihan.scss";
@import "default/_6-html-form-validation.scss";
@import "default/_7-html-kalkulator.scss";
@import "default/_8-html-angkringan.scss";