

.kotak{
	// border: 1px solid white;
	position: relative;
	bottom: 120px;

	.blue {
		margin: 480px auto 0 auto;
		position:relative;
		width:200px;
		height:125px;
		@include susy-breakpoint($tablet-size){
		margin: 780px auto 0 auto;
		width:350px;
		height:200px;
		}
		@include susy-breakpoint($desktop-size){
		margin: 600px auto 0 auto;
		width:400px;
		height:250px;
		}
	}
	.blue:before, .blue:after, .blue>:first-child:before, .blue>:first-child:after {
	    position:absolute;
	    width:20px; height: 20px;
	    border-color:white;
	    border-style:solid;
	    content: '';
	    @include susy-breakpoint($tablet-size){
		width:40px; height: 40px;
	    }
	    @include susy-breakpoint($desktop-size){
		width:50px; height: 50px;
	    }
	}
	.blue:before {
		top:0;
		left:0;
		border-width: 14px 0 0 14px;
	}
	.blue:after {
		top:0;
		right:0;
		border-width: 14px 14px 0 0;
	}
	.blue>:first-child:before {
		bottom:0;
		right:0;
		border-width: 0 14px 14px 0;
	}
	.blue>:first-child:after {
		bottom:0;
		left:0;
		border-width: 0 0 14px 14px;
	}
	.isi{
		border: 1px solid white;
		border-color: transparent;
		color: white;
		font-size: 12px;
		font-weight: 600;
		margin: auto;
		text-align: center;
		width: 150px;
		@include susy-breakpoint($tablet-size){
		font-size: 20px;
		width: 300px;
		}
		@include susy-breakpoint($desktop-size){
			font-size: 26px;
			width: 300px;
		}
		p{
			margin: 50px 0px;
		}
	}
}

.wrapper-bg-top{
	@include span(12 nest);
	min-height: 100vh;
	background-color: black;
	background-image: url("/gambar/bgdive.jpg");
	background-size: auto 130%;
	background-position: -520px -180px;
	background-repeat: no-repeat;
	// ini bagian yang akan berubah jika diload dari mobile, desktop dan tablet.
	@include susy-breakpoint($tablet-size){
		// background-image: url("/gambar/gambar.jpg");
		background-size: auto 110%;
		background-position: -160px -30px;
		// background-color: red;
	}
	@include susy-breakpoint($desktop-size){
		// background-image: url("/gambar/bg.jpg");
		background-size: 120% 105%;
		// background-position: top bottom;
		// background-color: black;
		// background-repeat: repeat;
	}
}

.dive1{
	@include span(12)
	min-height: 106vh;
	background-image: url("/gambar/dive1.jpg");
	background-position: -350px -50px;
	background-repeat: no-repeat;
	background-size: auto 110%;
	@include susy-breakpoint($tablet-size){
	background-position: -120px -70px;
	background-size: 200% 130%;
	}
	@include susy-breakpoint($desktop-size){
	min-height: 115vh;
	background-position: -120px -0px;
	background-size: 110% 100%;
	}
	.keterangan{
		color: white;
		font-size: 12px;
		font-weight: 600;
		position: relative;
		left : 30px;
		top : 420px;
		width: 200px;
		@include susy-breakpoint($tablet-size){
		font-size: 20px;
		position: relative;
		left : 30px;
		top : 770px;
		width: 300px;
		}
		@include susy-breakpoint($desktop-size){
		position: relative;
		left : 50px;
		top : 700px;
		width: 300px;
		}
		p{text-align: justify;}
	}
}

.dive2{
	@include span(12)
	min-height: 106vh;
	background-image: url("/gambar/raja.jpg");
	background-position: -750px -0px;
	background-repeat: no-repeat;
	background-size: 350% 110%;
	@include susy-breakpoint($tablet-size){
	background-position: -500px -120px;
	background-size: 200% 130%;
	}
	@include susy-breakpoint($desktop-size){
	min-height: 105vh;
	background-position: -500px -0px;
	background-size: 130% 100%;
	}
	.keterangan{
		color: white;
		font-size: 12px;
		font-weight: 600;
		position: relative;
		left : 10px;
		top : 420px;
		width: 200px;
		@include susy-breakpoint($tablet-size){
		font-size: 20px;
		position: relative;
		left : 30px;
		top : 750px;
		width: 300px;
		}
		@include susy-breakpoint($desktop-size){
		position: relative;
		left : 30px;
		top : 750px;
		width: 300px;
		}
		p{text-align: justify;}
	}
}

.dive3{
	@include span(12)
	min-height: 108vh;
	background-image: url("/gambar/lembeh.jpg");
	background-position: -430px -80px;
	background-repeat: no-repeat;
	background-size: 350% 130%;
	@include susy-breakpoint($tablet-size){
	background-position: -420px -150px;
	background-size: 200% 130%;
	}
	@include susy-breakpoint($desktop-size){
	min-height: 105vh;
	background-position: -200px -0px;
	background-size: 130% 100%;
	}
	.keterangan{
		color: white;
		font-size: 12px;
		font-weight: 600;
		position: relative;
		left : 30px;
		top : 420px;
		width: 200px;
		@include susy-breakpoint($tablet-size){
		font-size: 20px;
		position: relative;
		left : 30px;
		top : 750px;
		width: 300px;
		}
		@include susy-breakpoint($desktop-size){
		position: relative;
		left : 30px;
		top : 650px;
		width: 300px;
		}
		p{text-align: justify;}
	}
}

.dive4{
	@include span(12)
	min-height: 106vh;
	background-image: url("/gambar/rubiah.jpg");
	background-position: -240px -0px;
	background-repeat: no-repeat;
	background-size: 350% 130%;
	@include susy-breakpoint($tablet-size){
	background-position: -130px -50px;
	background-size: 250% 130%;
	}
	@include susy-breakpoint($desktop-size){
	min-height: 105vh;
	background-position: -100px 0px;
	background-size: 140% 100%;
	}
	.keterangan{
		color: white;
		font-size: 12px;
		font-weight: 600;
		position: relative;
		left : 30px;
		top : 400px;
		width: 200px;
		@include susy-breakpoint($tablet-size){
		font-size: 20px;
		position: relative;
		left : 30px;
		top : 750px;
		width: 300px;
		}
		@include susy-breakpoint($desktop-size){
		position: relative;
		left : 30px;
		top : 650px;
		width: 300px;
		}
		p{text-align: justify;}
	}
}

.dive5{
	@include span(12)
	min-height: 106vh;
	background-image: url("/gambar/neira.jpg");
	background-position: -00px -80px;
	background-repeat: no-repeat;
	background-size: 350% 130%;
	@include susy-breakpoint($tablet-size){
	background-position: -350px -250px;
	background-size: 350% 130%;
	}
	@include susy-breakpoint($desktop-size){
	min-height: 105vh;
	background-position: -00px -0px;
	background-size: 100% 100%;
	}
	.keterangan{
		color: white;
		font-size: 12px;
		font-weight: 600;
		position: relative;
		left : 30px;
		top : 430px;
		width: 200px;
		@include susy-breakpoint($tablet-size){
		font-size: 20px;
		position: relative;
		left : 30px;
		top : 750px;
		width: 300px;
		}
		@include susy-breakpoint($desktop-size){
		position: relative;
		left : 30px;
		top : 700px;
		width: 300px;
		}
		p{text-align: justify;}
	}
}
