.brand{
	ul{
		// border: 1px solid red;
		@include span(12);
		margin: 0 auto;
		li{
			@include span(1 of 5);
			border: 1px solid black;
			background-color: red;
			display: inline-block;
			list-style: none;
			margin: 0 auto;
			position: relative;
			text-align: center;
			height: 200px;
			button{
				background-color: blue; 
			    border: none;
			    color: white;
			    padding: 10px 20px;
			    text-align: center;
			    display: inline-block;
			    font-size: 16px;
				visibility: hidden;
				a{text-decoration: none;color: white;}
			}
		}

		li:hover{
			button{
				opacity: 0.5;
				visibility: visible;
			}	
		}
		button:hover{
			transition: 1s;
			font-size: 24px;
			padding: 2px 5px;
		}

		i{
			display: block;
			margin: 50px auto;
		}
	}
}




.web{
	// border: 1px solid blue;
	display: block;
	height: 950px;
	margin: 0 auto;
	width: 1562px;
	ul{
		@include span(12);
		// border: 1px solid black;
		padding: 0;
		// margin: 10px 50px;
		width: 1562px;
	}	
		li{
			@include span(2);
			background-color: black;
			border: 1px solid white;
			border-radius: 20px;
			color: white;
			list-style: none;
			margin: 30px;
			position: relative;
			height: 200px;
			width: 200px;
			&:hover{color: red;}
		}
		i{
			position: absolute;
			top : 60px;
			left : 65px;
		}
}

.tombol{
	display: block;
	margin: 0 auto;
	height: 50px;
	width: 150px;
}

.transport{
	@include container(1020px);
	// border: 1px solid pink;
	box-sizing: border-box;
	padding: 50px 150px;
	min-height: 1000px;
	i{
		@include span(4);
		color: white;
	}
	.fa{
		background-color: black;
		// border: 1px solid red;
		border-radius: 100px;
		margin: 10px 10px 10px 25px;
		padding: 70px;
		height: 200px;
		width: 200px;
		transition: 1s;
		&:hover{
			transform: rotate(360deg);
			-webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    		animation: mymove 5s infinite;
		}
	}
}


@keyframes mymove {
    0% {background-color: red;}
    15%{background-color: orange;}
    30% {background-color: yellow;}
    45% {background-color: green;}
    60% {background-color: blue;}
    75%	{background-color: indigo;}
    100% {background-color: violet;}
    50%{box-shadow: 0px 225px 20px grey;}
}

.pertama{
	height: 300px;
	width: 300px;
	// background-color: yellow;
	background-image: url("/gambar/dive1.jpg");
	position: relative;
	border: 1px solid red;
	margin: 10px auto;
	.kedua{
		height: 300px;
		width: 300px;
		border: 1px solid red;
		background-color: red;
		position: relative;
		bottom: 12px;
		margin: 10px auto;
		transition: 2s;
		&:hover{height: 0px;}
	}
}

