.header-navbar{
	@include container;
	@include span(12);
	background-color: blue;
	height: 45px;
	text-align: center;
	position: fixed;
	top : 0;
	right : 0;
	left : 0;
	z-index: 1;
	.brand{
		@include span(2);
		float: left;
		padding-top: 4.5px;
		height: 100%;
		// border: 1px solid red;
		.fa{
			border: 2px solid white;
			border-radius: 5px;
			color: white;
			margin: 0px auto;
			width: 40px;
			&:hover{
				background-color: #FFF;
				color: blue;
			}
		}
	}
	.logo{
		@include span(10);
		// border: 1px solid green;
		float: right;
		padding: 0px;
		height: 45px;
		img{
			// border: 1px solid green;
			color: red;
			margin-right: 45px;
			height: 43px;
			width: 45px;
		}
	
	}	
		
	@include susy-breakpoint($tablet-size){
		height: 60px;
		.brand{
			padding-top: 7px;
			.fa{
				border: 5px solid white;
				border-radius: 5px;
				padding: 2px;
			}
		}
	}
	@include susy-breakpoint($desktop-size){

	}
	@include susy-breakpoint($komputer-size){
		.logo{
			img{
			height: 58px;
			width: 60px;
			}
		}
	}
}


	.navigation{
		@include container;
		background-color: blue;
		display: none;
		position: fixed;
		right : 0px;
		left : 0px;
		bottom : 0px;
		height: 50px;
		ul{
			// border: 1px solid yellow;
			height: 100%;
			padding: 0px;
			margin: 0px;
		}
		li{
			@include span(4);
			// border: 1px solid red;
			color: silver;
			display: inline-block;
			font-size: 10px;
			font-weight: 600;
			list-style: none;
			padding: 15px;
			text-align: center;
			height: 100%;
			.fa{
				display: block;
				margin-bottom: 5px;
			}
			&:hover{
				background-color: silver;
				color: blue;
			}
		}
		@include susy-breakpoint($tablet-size){
			height: 75px;
			li{
				font-size: 18px;
				.fa{
					font-size: 30px;
				}
			}
		}
		@include susy-breakpoint($desktop-size){
			
		}
		@include susy-breakpoint($komputer-size){

		}
}

.body-navbar{
	background-color: black;
}

.content-navbar{
	@include container(300px);
	background-color: snow;
	color: black;
	min-height: 1500px;
	@include susy-breakpoint($tablet-size){
		@include container(650px);
	}
	@include susy-breakpoint($desktop-size){
		@include container(900px);
		min-height: 2000px;
	}
	@include susy-breakpoint($komputer-size){
		@include container(1500px);
		min-height: 5796px;
	}
}

.maincontent-navbar{
		z-index: 0.5;
		.kotak-navbar{
		// border: 1px solid white;
		position: relative;
		bottom : 0px;
		.blue {
			margin: 480px auto 0 auto;
			position:relative;
			bottom : -15px;
			width:200px;
			height:125px;
			@include susy-breakpoint($tablet-size){
			margin: 780px auto 0 auto;
			position: relative;
			bottom : 150px;
			width:350px;
			height:200px;
			}
			@include susy-breakpoint($desktop-size){
			margin: 600px auto 0 auto;
			position: relative;
			bottom : -320px;
			width:400px;
			height:250px;
			}
			@include susy-breakpoint($komputer-size){
			position: relative;
			bottom : 50px;
			}
		}
		.blue:before, .blue:after, .blue>:first-child:before, .blue>:first-child:after {
		    position:absolute;
		    width:20px; height: 20px;
		    border-color:white;
		    border-style:solid;
		    content: '';
		    @include susy-breakpoint($tablet-size){
			width:40px; height: 40px;
		    }
		    @include susy-breakpoint($desktop-size){
			width:50px; height: 50px;
		    }
		}
		.blue:before {
			top:0;
			left:0;
			border-width: 14px 0 0 14px;
		}
		.blue:after {
			top:0;
			right:0;
			border-width: 14px 14px 0 0;
		}
		.blue>:first-child:before {
			bottom:0;
			right:0;
			border-width: 0 14px 14px 0;
		}
		.blue>:first-child:after {
			bottom:0;
			left:0;
			border-width: 0 0 14px 14px;
		}
		.isi-navbar{
			border: 1px solid white;
			border-color: transparent;
			color: white;
			font-size: 12px;
			font-weight: 600;
			margin: auto;
			text-align: center;
			width: 150px;
			@include susy-breakpoint($tablet-size){
			font-size: 20px;
			width: 300px;
			}
			@include susy-breakpoint($desktop-size){
				font-size: 26px;
				width: 300px;
			}
			p{
				margin: 50px 0px;
			}
		}
	}

	.wrapper-bg-top-navbar{
		@include span(12 nest);
		min-height: 100vh;
		background-color: black;
		background-image: url("/gambar/bgdive.jpg");
		background-size: auto 130%;
		background-position: -520px -180px;
		background-repeat: no-repeat;
		// ini bagian yang akan berubah jika diload dari mobile, desktop dan tablet.
		@include susy-breakpoint($tablet-size){
			// background-image: url("/gambar/gambar.jpg");
			min-height: 90vh;
			background-size: auto 110%;
			background-position: -160px -30px;
			// background-color: red;
		}
		@include susy-breakpoint($desktop-size){
			// background-image: url("/gambar/bg.jpg");
			min-height: 100vh;
			background-size: 120% 105%;
			// background-position: top bottom;
			// background-color: black;
			// background-repeat: repeat;
		}
	}

	.dive1-navbar{
		@include span(12)
		min-height: 107vh;
		background-image: url("/gambar/dive1.jpg");
		background-position: -350px -50px;
		background-repeat: no-repeat;
		background-size: auto 115%;
		@include susy-breakpoint($tablet-size){
		min-height: 100vh;
		background-position: -120px -70px;
		background-size: 200% 130%;
		}
		@include susy-breakpoint($desktop-size){
		min-height: 100vh;
		background-position: -120px -0px;
		background-size: 115% 100%;
		}
		.keterangan-navbar{
			color: white;
			font-size: 12px;
			font-weight: 600;
			position: relative;
			left : 30px;
			top : 420px;
			width: 200px;
			@include susy-breakpoint($tablet-size){
			font-size: 20px;
			position: relative;
			left : 30px;
			top : 690px;
			width: 300px;
			}
			@include susy-breakpoint($desktop-size){
			position: relative;
			left : 50px;
			top : 1000px;
			width: 300px;
			}
			@include susy-breakpoint($komputer-size){
			position: relative;
			top: 650px;
			}
			p{text-align: justify;}
		}
	}

	.dive2-navbar{
		@include span(12)
		min-height: 106vh;
		background-image: url("/gambar/raja.jpg");
		background-position: -750px -0px;
		background-repeat: no-repeat;
		background-size: 350% 110%;
		@include susy-breakpoint($tablet-size){
		min-height: 100vh;
		background-position: -500px -120px;
		background-size: 200% 130%;
		}
		@include susy-breakpoint($desktop-size){
		min-height: 100vh;
		background-position: -500px -0px;
		background-size: 160% 100%;
		}
		.keterangan-navbar{
			color: white;
			font-size: 12px;
			font-weight: 600;
			position: relative;
			left : 10px;
			top : 420px;
			width: 200px;
			@include susy-breakpoint($tablet-size){
			font-size: 20px;
			position: relative;
			left : 30px;
			top : 690px;
			width: 300px;
			}
			@include susy-breakpoint($desktop-size){
			position: relative;
			left : 30px;
			top : 1000px;
			width: 300px;
			}
			@include susy-breakpoint($komputer-size){
			position: relative;
			top: 650px;
			}
			p{text-align: justify;}
		}
	}

	.dive3-navbar{
		@include span(12)
		min-height: 108vh;
		background-image: url("/gambar/lembeh.jpg");
		background-position: -430px -80px;
		background-repeat: no-repeat;
		background-size: 350% 130%;
		@include susy-breakpoint($tablet-size){
		min-height: 100vh;
		background-position: -420px -150px;
		background-size: 200% 130%;
		}
		@include susy-breakpoint($desktop-size){
		min-height: 100vh;
		background-position: -200px -0px;
		background-size: 130% 100%;
		}
		.keterangan-navbar{
			color: white;
			font-size: 12px;
			font-weight: 600;
			position: relative;
			left : 30px;
			top : 420px;
			width: 200px;
			@include susy-breakpoint($tablet-size){
			font-size: 20px;
			position: relative;
			left : 30px;
			top : 690px;
			width: 300px;
			}
			@include susy-breakpoint($desktop-size){
			position: relative;
			left : 30px;
			top : 1000px;
			width: 300px;
			}
			@include susy-breakpoint($komputer-size){
			position: relative;
			top: 650px;
			}
			p{text-align: justify;}
		}
	}

	.dive4-navbar{
		@include span(12)
		min-height: 106vh;
		background-image: url("/gambar/rubiah.jpg");
		background-position: -240px -0px;
		background-repeat: no-repeat;
		background-size: 350% 130%;
		@include susy-breakpoint($tablet-size){
		min-height: 100vh;
		background-position: -130px -50px;
		background-size: 250% 130%;
		}
		@include susy-breakpoint($desktop-size){
		min-height: 100vh;
		background-position: -100px 0px;
		background-size: 140% 100%;
		}
		.keterangan-navbar{
			color: white;
			font-size: 12px;
			font-weight: 600;
			position: relative;
			left : 30px;
			top : 400px;
			width: 200px;
			@include susy-breakpoint($tablet-size){
			font-size: 20px;
			position: relative;
			left : 30px;
			top : 690px;
			width: 300px;
			}
			@include susy-breakpoint($desktop-size){
			position: relative;
			left : 30px;
			top : 1000px;
			width: 300px;
			}
			@include susy-breakpoint($komputer-size){
			position: relative;
			top: 650px;
			}
			p{text-align: justify;}
		}
	}

	.dive5-navbar{
		@include span(12)
		min-height: 110vh;
		background-image: url("/gambar/neira.jpg");
		background-position: -00px -80px;
		background-repeat: no-repeat;
		background-size: 350% 130%;
		@include susy-breakpoint($tablet-size){
		min-height: 100vh;
		background-position: -350px -250px;
		background-size: 350% 130%;
		}
		@include susy-breakpoint($desktop-size){
		min-height: 100vh;
		background-position: -00px -0px;
		background-size: 140% 100%;
		}
		.keterangan-navbar{
			color: white;
			font-size: 12px;
			font-weight: 600;
			position: relative;
			left : 30px;
			top : 480px;
			width: 200px;
			@include susy-breakpoint($tablet-size){
			font-size: 20px;
			position: relative;
			left : 30px;
			top : 750px;
			width: 300px;
			}
			@include susy-breakpoint($desktop-size){
			position: relative;
			left : 30px;
			top : 1000px;
			width: 300px;
			}
			@include susy-breakpoint($komputer-size){
			position: relative;
			top: 650px;
			}
			p{text-align: justify;}
		}
	}

}
