// * {
// 	box-sizing: border-box;
// }

	
#latihan{
	background-color: green;
}




.header-lat{
	background-color: black;
	color: white;
	height: 45px;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	.brand-lat{
		padding-top: 15px;
		text-align: center;
	}
	// .wrap-navigation-lat{
	// 	border: 1px solid red;
	// 	background-color: #FFF;
	// 	margin: 0px auto;
	// 	position: relative; 
	// 	height: 100vh;
	// 	width: 200px;
	// }
}




html, body {
	height: 100%;
}

.left-content-lat{
	@include span(6);
	float: left;
	overflow: auto;
	height: 100%;
}

// .right-content-lat{
// 	@include span(6);
// 	float: left;
// 	overflow: auto;
// 	height: 100%;
// }