#kalkulator{
	background-color: black;
	position: fixed;
	top : 0px;
	left : 485px;
}

html, body {
	height: 100%;
}

.container-kalkulator{
	@include container(900px);
	// background-color: red; 
}

.wrap-input{
	@include span(6);
	background-color: yellow;
	border: 10px solid white;
	border-radius: 30px;
	padding: 0px;
	min-height: 500px;
	.input{
		@include span(12);
		// background-color: yellow;
		height: 300px;
		h1{
			text-align: center;
		}
		ul{
			// border: 1px solid black;
			margin: 50px auto; 
			padding: 0;
			width: 342px;
			li{
				list-style-type: none;
				// border: 5px solid black;
				box-sizing: border-box;
				display: inline-block;
				font-size: 20px;
				font-weight: 700;
				cursor: pointer;
				margin-top: 5px;
				// padding-top: 1.5%;
				text-align: center; 
				height: 50px;
				width: 110px;
				button{
					background-color: 	#00cd67;
					outline-color: black;
					height: 100%;
					width: 100%;
					&:hover{
						color: grey;
					}
				}
			}
		}
	}

	.hitung{
		@include span(12);
		// background-color: yellow;
		box-sizing: border-box;
		text-align: center;
		height: 180px;
		width: 100%;
	
		button#hitung{
			border-radius: 30px;
			font-size: 20px;
			font-weight: 700;
			height: 50px;
			outline: none;
			width: 100px;
			background-color: blue;
			&:hover{color: grey;} 
		}
		button#reset{
			border-radius: 30px;
			font-size: 20px;
			font-weight: 700;
			height: 50px;
			outline: none;
			width: 100px;
			background-color: red;
		}
	
	}
}

.layar{
	@include span(6);
	// background-color: yellow;
	// min-height: 300px;
	padding: 0px;
	position: relative;
	.hasil{
		background-color: yellow;
		border: 10px solid white;
		border-radius: 30px;
		box-sizing: border-box;
		display: block;
		height: 51.8%;
		overflow: auto;
		padding: 0px 60px;
		position: fixed;
		top : 0px;
		// text-align: center;
		width: 	450px;
		.apel{
			background-image: url("/gambar/apple.svg");
			background-size: 100%;
			// border: 1px black solid;
			display: inline-block;
			margin: 4px;
			height: 50px;
			width: 50px;
		}
		.jeruk{
			background-image: url("/gambar/orange.svg");
			background-size: 100%;
			box-sizing: border-box;
			// border: 1px black solid;
			display: inline-block;
			margin: 4px;
			height: 50px;
			width: 50px;
		}
		.mangga{
			background-image: url("/gambar/mango.svg");
			background-size: 100%;
			// border: 1px black solid;
			display: inline-block;
			margin: 4px;
			height: 50px;
			width: 50px;
		}
	}
	
}

.output{
	@include span(12);
	// background-color: green;
	box-sizing: border-box;
	height: 200px;
	.jumlahgambar{
		@include span(12);
		// border: 1px solid black;
		height: 100%;
			h5{
				color: red;
			}
		.jmlgbr{
			border: 1px solid black;
			color: white;
			font-size: 20px;
			font-weight: 700;
		}
	}
	.jumlahvitamin{
		@include span(6);
		// background-color: blue;
	}
}