// #angkringan{
// 	overflow: hidden;
// }

.content{
	opacity: 1;
}

.header{
	@include span(12 nest);
	background-color: #000;
	position: fixed;
	top:0;
	z-index: 999;
	.logo{
		@include span(2);
		height: 101px;
		background-color:#000;
		img{
			height: 100%;
			width: 65%;
			margin:auto;
		}
	}
	.nav{
		@include span(10);
		text-align: right;
		ul{
			li{
				list-style-type: none;
				display: inline-block;
				background-color:#CCC;
				padding:20px;
				border-radius: 10px;
				margin-right: 6px;
				a{
					padding:20px;
				}
			}
			.mr10{
				margin-right: 10px;
			}
		}
	}
}

.content-transaksi{
	@include span(12 nest);
	height:100vh;
	padding-top:100px;
	#reset{
		background-color: red;
		color: white;
		height: 30px;
		position: relative;
		left : 60.5%;
		}
	.row-title{
		@include span(12 nest);
		.title-input{
			@include span(8);
			text-align: center;
			background-color: #DDD;
			// height: 50px;
		}
		.title-output{
			@include span(4);
			background-color: #CCC;
			// height: 50px;
			.col{
				@include span(4);
				text-align: center;
			}
		}
	}
	.row-container{
		@include span(12 nest);
		.container-input{
			@include span(8);
			background-color:#EEE;
			.items{
				@include span(3 nest);
				img{
					@include span(3 nest);
					width:150px;
					height: 150px;
					margin: 0px;
					// display: inline-block;
					// margin-left: span(1.5);
					// margin-right: span(1.5);
					text-align: center;
					background-color:lightyellow;
					// padding:80px;
					margin-top: 10px;
					margin-bottom: 10px;
					// border:1px solid black;
				}
	
			}
		}
		.container-output{
			@include span(4 nest);
			height: 618px;
			background-color:#DDD;
			.row{
				@include span(12);
				padding: 0px;
				.col{
					@include span(4);
					text-align: center;
				}
			}
			.hitung-area{
				height: 139px;
				width: 345px;
				position: absolute;
				bottom: 0px;
				right: 0px;
				background-color:#999;
				.total{
					// border: 1px solid;
					background-color: #FFF;
					margin-top: 10px;
					position: relative;
					left : 52px;
					bottom : 23px;
					height: 35px;
					width: 240px;
				}
				input{
					height: 35px;
					width: 240px;
					position: relative;
					// left : 52px;
					bottom : 20px;
				}
				.wrapper{
					@include span(12);
					padding-top:10px;
					.totall{
						position: relative;
						top : 15px;
					}
					.bayar{
						position: relative;
						bottom : 20px;
					}
				}
				button{
					position: relative;
					bottom : 17px;
					height: 32px;
					width: 100%;
				}
			}
		}
	}
}


.kembali-area{
	display:none;
	background-color: black;
	.wrapper{
		background-color:blue;
		color:white;
		position:fixed;
		width: 300px;
		height: 100px;
		top:50%;
		left:50%;
		transform: translateX(-50%) translateY(-50%);
	}
	button{
		position:fixed;
		left: 50%;
		bottom:0;
		transform: translateX(-50%);
		color:black;
	}
}

.content-laporan{
	@include span(12 nest);
	height:100vh;
	padding-top:100px;
	.row{
		@include span(12 nest);
		.col{
			@include span(3);
			text-align: center;
			border:1px solid black;
			padding:20px;
		}
	}
	.row-container{
		.col{
		
		}
	}
	.row-rekap{
		.col{
			@include span(4);
		}
	}
	.row-content-rekap{
		.col{
			@include span(4);
		
		}
	}
}

.content{

}

#popup{
	position:fixed;
	top : 100px;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.8);
	color:white;
	padding-top:220px;
	display: none;
	.row{
		@include span(12);
		color:white;
		text-align: center;
		margin-top: 10px;
	}
	button{
		@include span(1);
		margin-left: span(5.5);
		margin-right: span(5.5);
		margin-top: 30px;
		color:black;	
	}
	img{
		width: 150px;
		margin:30px;
	}
	.row-qty{
		@include span(3);
		margin-left: span(4.5);
		margin-right: span(4.5);
		.col{
			@include span(4);
		}
		button{
			margin:0;
			padding:0;
			color:black;
		}
	}
}