.fluid-container{
	@include container;
}

.container{
	@include container(1140px);
}

#grid{
    background-color: #EEEEEE;
}

#header-index{
    @include container;
    background-color: #404040;
    height:45px;
    color:#EEEEEE;
    .navigation{
        @include container(1140px);
    }
}

.content{
    @include container(1140px);
    background-color: #FFF;
    border: 1px solid black;
    min-height:2000px;
}
							// @include span(1 of 4)
.row{
    @include span(12)
    background-color: #808080;
}

.col-6{
    @include span(6);
    border:1px solid black;
}

.col-3{
	@include span(3);
	border:1px solid black;
}

.col-9{
	@include span(9);
    border:1px solid black;
}

.col-2{
	@include span(2);
    border:1px solid black;
}

.col-10{
	@include span(10);
    border:1px solid black;
}

.rowfoto{
	@include span(12 nest)
	// border:1px solid black;
}

.col-3foto{
	@include span(3 nest);
	// border:1px solid black;
	position: relative;
	height: 250px;
	img{
		height: 100%;
		width: 100%;
	}
		.fotoo{
			position: relative;
		}
		.hitam{
			visibility: hidden;
			position: absolute;
			top : 0px;
		}
		&:hover{
			.fotoo{
			}
			.hitam{
				visibility: visible;
			}
		}
}

.col-9foto{
	@include span(9);
    // border:1px solid black;
    font-size: 25px;
    height: 250px;
    .profile{
    	@include span(12 nest)
    	list-style: none;
    	.ket{
			@include span(4 nest)
			// border:1px solid black;
    	}
    	.desk{
			@include span(8 nest)
			// border:1px solid black;
    	}
    }
}

.showreel-list{
	@include span(12 nest)
	ul{
		padding: 0;
	}
	li{
		@include span(1 of 4)
		border: 1px solid black;
		line-height: 250px;
		list-style: none;
		text-align: center;
		height: 300px;
	}
}