#test{
	background-color: white;
	box-sizing: inherit;
}

#header-test{
	@include container;
	background-color: white;
	border-bottom: 1px solid #d8d8d8;
	border-top: 1px solid #d8d8d8;
	height: 42px;
	position: fixed;
	top : 0px;
	right : 0px;
	left : 0px;
	z-index: 10;
	.brand-test{
		@include span(3);
		height: 100%;
		padding: 3px;
		position: relative;
		left : 20px;
		#ikon{
			color: black;
			margin-top: 2px;
		}
		#judul-test{
			display: none;
		}
		@include susy-breakpoint($tablet-size){}
		@include susy-breakpoint($desktop-size){}
		@include susy-breakpoint($komputer-size){
			text-align: right;
			#ikon{
				display: none;
			}
			#judul-test{
				color: black;
				display: block;
				font-family: "roboto condensed", sans-serif;
				font-size: 33px;
				letter-spacing: -2px;
				margin-right: 80px;
				text-decoration: none;
			}
		}
	}

	.navigation-test{
		@include span(9);
		// border: 1px solid blue;
		box-sizing: border-box;
		height: 100%;
		text-align: center;
		#logo-test{
			// border: 1px solid blue;
			font-size: 30px;
			margin-top: 5px;
			margin-right: 34%;
		}

		.search-test{
			display: none;
		}

		ul{
			background-color: rgba(0,0,0,.9333);
			display: none;
			list-style: none;
			margin: 0px;
			padding: 0px;
			position: absolute;
			left : 0;
			top : 42px;
			height: 100vh;
			width: 100vw;
			z-index: 100;
			#cari-test{
					display: none;
				}
			li{
				@include container(80%);
				border-bottom: 1px solid #f7f7f7;
				height: 35px;
				padding: 5px 0px;
				position: relative;
				top : 25%;
				a{
					color: white;
					font-size: 20px;
					font-weight: 800;
					text-decoration: none;
				}
			}
		}		
		@include susy-breakpoint($komputer-size){
			text-align: left;
			#logo-test{
				display: none;
			}

			.search-test{
				box-sizing: border-box;
				display: none;
				padding-top: 5px;
				position: relative;
				left : 15%; 
				text-align: center;
				height: 100%;
				width: 500px;
				input{
					border: transparent;
					outline-color: transparent;
					height: 22px;
					width: 302px;
				}
				i{
					margin: 0px 20px;
				}
			}	//search-test

			ul{
				background-color: transparent;
				display: block; //>>>>>>>>>>>>>>>>>>>>>>>>>>>>
				height: 100%;
				margin: 0px;
				margin-left: 150px;
				position: relative;
				left : 0;
				top : 0;
				padding: 0px;
				#cari-test{
					display: inline-block;
					margin: 0px 20px;
					padding: 10px 20px;
					transition: 0.5s;
					&:hover{
						background-color: white;
						color: #f2f2f2;
					}
				}
				li{
					@include container(7%);
					// border: 1px solid red;
					box-sizing: border-box;
					display: inline-block;
					height: 100%;
					width: 100%;
					list-style: none;
					margin: auto 0px;
					padding: 10px 40px 0px 40px;
					position: relative;
					top: 0;
					&:hover{
						background-color: #d8d8d8;
						}
					a{
						color: black;
						font-family: "roboto condensed", sans-serif;
						font-size: 13px;
						font-weight: 600;
						height: 100%;
						letter-spacing: 1.5px;
						text-decoration: none;
					}

				}
			}
		} //komputer-size
	}
}

.miejsca{
	@include span(12);
	// border: 1px solid red;
	display: none;
	background-color: rgba(0,0,0,0.75);
	padding: 0px;
	position: relative;
	top : 14px;
	left : -40px;
	min-width: 200px;
	ul#ulmeijsca{
		// border: 1px solid green;
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
		width: 100%;
		li#limeijsca{
			@include container(100%);
			// border: 1px solid red;
			border-bottom: none;
			display: block;
			margin: 0px;
			padding: 10px 0px;
			position: relative;
			text-align: left;
			height: 40px;
			&:hover{
					background-color: black;
					ul{
						display: block;
					}
				}
			a{
				color: white;
				font-family: "roboto condensed", sans-serif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 2px;
				position: relative;
				left : 30px;
				i{
					position: absolute;
					left : 150px;
				}
			}
			ul{
				background-color: rgba(0,0,0,0.75);
				display: none;
				margin: 0px;
				padding: 10px 0px;
				position: relative;
				top : -28px;
				left : 200px; 
				width: 250px;
				&:hover{
					background-color: black;
				}
				li{
					background-color: transparent;
					border-bottom: none;
					color: white;
					font-family: "roboto condensed", sans-serif;
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 2px;
					display: inline;
					padding: 0px;
				}
			}
		}
	}
}

li#nav-my{text-align: center;}

.my{
	@include span(12);
	display: none;
	background-color: rgba(0,0,0,0.75);
	padding: 0px;
	position: relative;
	top : 14px;
	left : -40px;
	width: 200px;
	ul#ulmy{
		// border: 1px solid green;
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
		width: 100%;
		li#limy{
			@include container(100%);
			border-bottom: none;
			display: block;
			margin: 0px;
			padding: 10px 0px;
			text-align: left;
			height: 40px;
			&:hover{
				background-color: black;
				}
			a{
				color: white;
				font-family: "roboto condensed", sans-serif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 2px;
				position: relative;
				left : 30px;
			}
		}
	}
}

.kontakt{
	@include span(12);
	display: none;
	background-color: rgba(0,0,0,0.75);
	padding: 0px;
	position: relative;
	top : 14px;
	left : -40px;
	width: 200px;
	ul#ulkontakt{
		// border: 1px solid green;
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
		width: 100%;
		li#likontakt{
			@include container(100%);
			border-bottom: none;
			display: block;
			margin: 0px;
			padding: 10px 0px;
			position: relative;
			text-align: left;
			height: 40px;
			&:hover{
					background-color: black;
					ul{
						display: block;
					}
				}
			a{
				color: white;
				font-family: "roboto condensed", sans-serif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 2px;
				position: relative;
				left : 30px;
				i{
					position: absolute;
					left : 150px;
				}
			}
			ul{
				display: none;
				margin: 0px;
				padding: 10px 0px;
				position: relative;
				top : -28px;
				left : 200px; 
				width: 180px;
				li{
					@include container(100%);
					background-color: rgba(0,0,0,0.75);
					border-bottom: none;
					color: white;
					display: block;
					font-family: "roboto condensed", sans-serif;
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 2px;
					padding: 10px;
					position: relative;
					top : -10px;
					height: 40px;
				&:hover{
					background-color: black;
				}
				}
			}
		}
	}
}

.blog{
	@include span(12);
	display: none;
	background-color: rgba(0,0,0,0.75);
	padding: 0px;
	position: relative;
	top : 14px;
	left : -40px;
	width: 200px;
	ul#ulblog{
		// border: 1px solid green;
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
		width: 100%;
		li#liblog{
			@include container(100%);
			border-bottom: none;
			display: block;
			margin: 0px;
			padding: 10px 0px;
			text-align: left;
			height: 40px;
			&:hover{
					background-color: black;
				}
			a{
				color: white;
				font-family: "roboto condensed", sans-serif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 2px;
				position: relative;
				left : 30px;
			}
		}
	}
}

.nom{
	display : none;
	@include susy-breakpoint($komputer-size){
		background-color: transparent;
		display: block;
		position: fixed;
		right : 0px;
		top : 30px;
	}
}

.content-test{
	@include container(100%);
	box-sizing: border-box;
	font-family: "roboto condensed", sans-serif;
	padding: 0px;
	position: relative;
	top : 42px;
	width: 100vw;
	.title-test{
		margin: 60px 0;
		text-align: center;
	}
	.coba{
		@include span(6);
		height: 207px;
		float: left;
		padding: 0px 15px;
		text-align: center;
		h3{
			font-size: 1.28571rem;
			margin: 1.42857rem 0;
		}
		.tanggal{
			font-size: .92857rem;
			margin-top: 0px;
			margin-bottom: 5px;
		}
		img{
			height: 93px;
			width: 100%;
		}
		.keterangan{
			display: none;
		}
	}
	@include susy-breakpoint($tablet-size){
		padding: 0;
		.coba{
			height: 458px;
			margin-bottom: 30px;
			padding: 0px 15px;
			width: 50%;
			h3{
			margin: 20px 0;
			}
			.tanggal{}
			img{
				height: 256px;
				width: 100%;
			}
			.keterangan{
				display: block;
				margin-top: 0;
				margin-bottom: 14px;
			}
		}
	}
	@include susy-breakpoint($komputer-size){
		@include container(1840px);
		.title-test{
		}
		.coba{
			@include span(4);
			height: 500px;
			padding: 0px 25px;
			h3{
				font-size: 1.42857rem;
				margin: 1.42857rem 0;
			}
			.tanggal{
				font-size: .92857rem;
				margin-top: 0px;
				margin-bottom: 5px;
			}
			img{
				height: 300px;
				width: 100%;
				&:hover{
					opacity : 0.9;
				}
			}
			.keterangan{
				display: block;
			}
		}
	}
}

.footerr{
	@include container;
	background-color: #f2f2f2;
	margin-top: 10px;
	padding: 10px 0;
	position: relative;
	top : 40px;
	right : 0px;
	left : 0px;
	.footer-test{
		@include container(1440px);
		text-align: left;
		#sim{
			border-bottom: .07143rem solid #d8d8d8;
			padding-bottom: 5px;
			margin-bottom: 5px;
		}
		.fa-heart{
			color: red;
		}
	}
}